@font-face {
    font-family: 'SignatureFont';
    src: url('./Three-Signature.ttf'),
    url('./Three-Signature.otf');
    font-style: normal; 
} 

@font-face {
    font-family: 'Hallies';
    src: url('./Hallies.otf'),
    url('./Hallies.ttf');
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    background: url(./pexels-dominika-roseclay-1982485.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hide{
    display: none;
}
/*#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}*/

#contentHeader{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    justify-items: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: 100%;
    /*background-color: blanchedalmond;*/
    background-color: rgb(44, 38, 30);
    border-bottom: 5px solid rgb(153, 116, 116);
}

.logo > img{
    width: 100px;
    height: 100px;
}

.shopName{
    font-size: 5rem;
    font-weight: bolder;
    font-family: 'SignatureFont', Arial, Helvetica, sans-serif;
    color: rgb(211, 92, 147);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(244, 244, 252), 0 0 5px rgb(20, 20, 26);
}

.containerBtn{
    /*justify-self: end;*/
    align-self: flex-end;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}

.containerBtn > div{
    padding: 0.3em;
}

button{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1rem;
}

button:hover{
    opacity: 0.8;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
#contentMain{
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#contentMain > h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: 6px 12px 8px #703a3a;
    color: rgb(107, 55, 55);
    margin: 0;
    padding: 20px;
}

#contentMain > img{
    width: 500px;
    height: 500px;
    align-self: center;
    object-fit: cover;
    border: 1px solid rgb(177, 78, 190);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 30px rgb(187, 99, 99);
}

#contentMain > p{
    font-family: 'Hallies',Arial, Helvetica, sans-serif;
    font-size: 2rem;
    align-self: center;
}

footer{
    padding: 5px;
    background-color: blanchedalmond;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    word-spacing: 5px;
    border-top: 1px solid rgb(110, 87, 87);
}

#foodGeneral{
    width: 500px;
    height: 500px;
    align-self: center;
    object-fit: cover;
    border: 1px solid rgb(177, 78, 190);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 1px 1px 30px rgb(187, 99, 99);
}