@font-face {
    font-family: 'SignatureFont';
    src: url('./Three-Signature.ttf'),
    url('./Three-Signature.otf');
    font-style: normal; 
} 

*{
    box-sizing: border-box;
}

body{
    background: url(./pexels-dominika-roseclay-1982485.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#contentHeader{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    justify-items: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}

.logo > img{
    width: 100px;
    height: 100px;
}

.shopName{
    font-size: 5rem;
    font-weight: bolder;
    font-family: 'SignatureFont', Arial, Helvetica, sans-serif;
    color: rgb(211, 92, 147);
}

.containerBtn{
    justify-self: end;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.containerBtn > div{
    padding: 0.3em;
}

#contentMain{
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#contentMain > h1{
    font-size: 5rem;
    margin: 0;
    padding: 20px;
}

#contentMain > img{
    width: 500px;
    height: 500px;
    align-self: center;
    object-fit: cover;
}

#contentMain > p{
    align-self: center;
}